<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
        }

        @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

        body {
            font-family: 'Poppins', sans-serif;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow-y: scroll;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #dde5f4;
            height: 100vh;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: url(https://img.freepik.com/free-photo/hands-unrecognizable-female-doctor-writing-form-typing-laptop-keyboard_1098-20374.jpg?t=st=1714304008~exp=1714307608~hmac=5578088b10d416e912caf0384c895ec757aba19b1352faa83e5a0c2d94af9e62&w=1060) no-repeat center;
            background-size: cover;
            filter: blur(6px);
        }

        .container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 25px 30px;
            color: #023047;
            max-width: 900px;
            margin: 20px auto;
            padding: 10px;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.7);
        }




        table {
            width: 900px;
            background-color: #dde5f4;
            border-radius: .8rem;
            overflow: hidden;
        }

        td {
            padding: 15px;
            background-color: #dde5f4;
            color: #023047;
            white-space: nowrap;
            /* Prevent text from wrapping */
            overflow: hidden;
            /* Hide overflowing text */
            text-overflow: ellipsis;
            /* Display an ellipsis (...) for truncated text */
        }

        .container h1 {
            text-align: center;
            margin: 25px;
        }

        th,
        td {
            padding: 15px;
            background-color: #dde5f4;
            color: #023047;
        }

        th {
            text-align: center;
            color: #ffffff;
            align-items: center;
        }

        thead th {
            background-color: #219EBC;
        }

        tbody tr:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        tbody td {
            position: relative;
        }

        tbody td:hover:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
        }

        a.btn.btn-primary {
            text-align: center;
            background-color: #219EBC;
            padding: 10px 20px;
            color: #fff;
            border-radius: 20px;
            cursor: pointer;
        }


        a.btn.btn-primary:hover {

            background-color: transparent;
            color: #219EBC;
            border: 2px solid #219EBC;
        }
    </style>
</head>

<body>
    <div class="background"></div>
    <div class="container mt-5">
        <% if (message) { %>
            <div class="alert alert-primary" role="alert">
                <%= message %>
            </div>
            <% } %>

                <h1 class="mb-4">Doctor Dashboard</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Patient Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% appointments.forEach(appointment=> { %>
                                <tr>
                                    <td>
                                        <%= appointment.appointmentId %>
                                    </td>
                                    <td>
                                        <%= appointment.date %>
                                    </td>
                                    <td>
                                        <%= appointment.time %>
                                    </td>
                                    <td>
                                        <%= appointment.firstName %>
                                            <%= appointment.lastName %>
                                    </td>
                                    <td>
                                        <a href="/doctors/diagnosis/<%= appointment.appointmentId %>"
                                            class="btn btn-primary">Write Diagnosis</a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
    </div>
</body>

</html>